@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --title_text: 'Oswald', sans-serif;
    --body_text: 'Roboto', sans-serif;
    --bg_main: #FF9900;
    --text_main: #000000;
    --bg_ac_1: #999999;
    --text_ac_1: #fff;
    --bg_ac_2: #cccccc;
    --text_ac_2: #000000;
    --bg_alt_1: #CC6633;
    --text_alt_1: #000000;
    --bg_alt_2: #771100;
    --text_alt_2: #FFFFFF;
}

body {
    margin: 0;
    margin-bottom: 150px;
}

html {
    position: relative;
    min-height: 100vh;
}

.body_link {
    display: block;
    width: fit-content;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 50px auto;
    font-weight: 700;
    font-family: var(--body_text);
    background-color: var(--bg_main);
    color: #fff;
    text-decoration: none;
}


/* Nav */

nav.desktop {
    height: 100px;
    background-color: black;
    position: relative;
}

nav.desktop .logo_title {
    display: block;
    position: absolute;
    top: 50%;
    width: fit-content;
    left: 20px;
    transform: translate(0, -50%);
}

@media only screen and (max-width: 700px) {
    nav.desktop .logo_title {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }    
}

nav.desktop .logo_title .logo {
    display: inline-block;
    vertical-align: middle;
    height: 70px;
    margin: 0 5px;
}

nav.desktop .logo_title .name {
    vertical-align: middle;
    display: inline-block;
    color: var(--bg_main);
    font-weight: 700;
    font-family: var(--title_text);
    font-size: 28px;
}

nav.desktop .links {
    /* height: 30px; */
    display: none;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 20px;
    margin: 0px 10px;
}

nav.desktop .links a {
    font-size: 26px;
    color: white;
    text-decoration: none;
    margin: 0;
    padding: 0;
    height: 30px;
}


/* Footer */

footer {
    background-color: #000;
    box-sizing: border-box;
    width: 100%;
    margin: 30px 0 0;
    padding: 10px 5%;
    color: var(--bg_main);
    font-weight: 600;
    position: absolute;
    bottom: 0;
}

footer .content {
    width: 100%;
}

footer .grid .container {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

footer .grid .container:nth-child(odd) > .content p {
    text-align: left;
}
footer .grid .container:nth-child(even) > .content p {
    text-align: right;
}

footer .grid .container .content {
    width: 100%;
    margin: 0;
}

footer .grid .container .content p {
    margin: 5px 0;
}

footer .grid .container .content p:first-child {
    margin-top: 0;
}

footer .grid .container .content p:last-child {
    margin-bottom: 0;
}

@media only screen and (max-width: 546px) {
    footer .grid .container {
        width: 100%;
    }
    footer .grid .container:nth-child(odd) > .content p {
        text-align: center;
    }
    footer .grid .container:nth-child(even) > .content p {
        text-align: center;
    }
}
